  
.board {
    width: 500px;
    margin: auto
}

.info {
    width: 400px;
    margin: auto;
}

.move-history {
    max-height: 100px;
    overflow-y: scroll;
}

.fen-input {
    width: 400px;
    margin: auto;
}